@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'compass/css3/images';
@import 'compass/typography/vertical_rhythm';
@import 'compass/css3/box-sizing';
@import 'compass/css3/background-size';

@import 'companimation';
@import 'companimation/preset/fade/fadeIn';
@import 'companimation/preset/fade/fadeInDown';
@import 'companimation/preset/fade/fadeInUp';

$base-font-size: 18px;
$base-line-height: 27px;

// Global

@include establish-baseline;

* {
    @include box-sizing(border-box);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 630px;
  padding: 0 15px;
  font-family: sans-serif;
}

#{headings()} {
    font-family: 'Open Sans', sans-serif;
}

// Header

[role="banner"] {

    @include leader();

    h1, h2 {
        text-align: center;
        @extend %fadeInDown;
        @include animation-delay(1.5s);
        @include animation-duration(2s);
    }

    h1 {
        text-transform: lowercase;
        @include leader(0.25);
        @include trailer(0.25);
        @include adjust-font-size-to(60px);
    }

    h2 {
        @include trailer(2);
        @include adjust-font-size-to(24px, 1.5);
    }
}

.banner-logo-placeholder {
    width: image-width('compass-outer.png');
    height: image-height('compass-outer.png');
    margin: 0 auto;
}

.banner-logo {
    margin: 0 auto;
    position: relative;
    width: image-width('compass-outer.png');
    height: image-height('compass-outer.png');
    background-size: 100% !important;
    @extend %fadeIn;
    @include background(image-url('compass-outer.png'));

    .fixed-logo & {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        @extend %fadeInDown;
    }
}

.banner-logo-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: image-width('compass-inner.png');
    height: image-height('compass-inner.png');
    max-width: 100%;
    max-height: 100%;
    background-size: 100% !important;
    @extend %rotateIn;
    @include background(image-url('compass-inner.png'));
}

.fadeLate {
    @extend %fadeInDown;
    @include animation-delay(3s);
}

// Body

[role="main"] {
    @extend %fadeInUp;
    @include animation-duration(2s);
    @include animation-delay(4.5s);
}

// Pygments

.highlight {
    pre {
        padding: 10px;
        margin: 0;
        background: #f8f8f8;
    }
}

@import 'pygments';

// Animations

@include animation('rotateIn', 1s, ease, 1, 0.5s, backwards);
@include webkit-keyframes('rotateIn') {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }
}
@include moz-keyframes('rotateIn') {
    0% {
        opacity: 0;
        -moz-transform: rotate(-10deg);
    }
    100% {
        opacity: 1;
        -moz-transform: rotate(0deg);
    }
}
@include o-keyframes('rotateIn') {
    0% {
        opacity: 0;
        -o-transform: rotate(-10deg);
    }
    100% {
        opacity: 1;
        -o-transform: rotate(0deg);
    }
}
@include official-keyframes('rotateIn') {
    0% {
        opacity: 0;
        transform: rotate(-10deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}