// Blur In

@include animation(blurOutRight, 1.5s);

@include webkit-keyframes(blurOutRight) {
    0% {
        -webkit-filter: blur(0px) opacity(1);
        -webkit-transform: translateX(0px);
    }
    100% {
        -webkit-filter: blur(3px) opacity(0);
        -webkit-transform: translateX(20px);
    }
}
@include moz-keyframes(blurOutRight) {
    0% {
        -moz-filter: blur(0px) opacity(1);
        -moz-transform: translateX(0px);
    }
    100% {
        -moz-filter: blur(3px) opacity(0);
        -moz-transform: translateX(20px);
    }
}
@include o-keyframes(blurOutRight) {
    0% {
        -o-filter: blur(0px) opacity(1);
        -o-transform: translateX(0px);
    }
    100% {
        -o-filter: blur(3px) opacity(0);
        -o-transform: translateX(20px);
    }
}
@include official-keyframes(blurOutRight) {
    0% {
        filter: blur(0px) opacity(1);
        transform: translateX(0px);
    }
    100% {
        filter: blur(3px) opacity(0);
        transform: translateX(20px);
    }
}
