<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Companimation</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>

        <header role="banner">

            <div class="banner-logo-placeholder">
                <div class="banner-logo">
                    <div class="banner-logo-inner"></div>
                </div>
            </div>

            <h1>Companimation</h1>
            <h2>CSS animations. In Compass. Real easy-like.<br /><span class="fadeLate">Sodding brilliant.</span></h2>

        </header>

        <div role="main">
            {{ content }}
        </div>

        <footer role="contentinfo">
            <a href="http://mikefowler.me">Mike Fowler</a> made this.
        </footer>

        <script src="js/main.js"></script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-10512170-10']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>

    </body>
</html>