<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Companimation</title>

        <script src="js/XRegExp.js"></script>
        <script src="js/shCore.js"></script>
        <script src="js/shBrushBash.js"></script>
        <script src="js/shBrushSass.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/shCoreMidnight.css">
        <script type="text/javascript">SyntaxHighlighter.all();</script>
    </head>
    <body>

        {{ content }}

    </body>
</html>